@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #25262C;
  color: white;
  font-size: 18px;
  display: block;
}

div.top_header {
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  background-position: top;

  padding-top: 15px;
/*  border: 7px solid pink;
*/}

div.logo {
  float:left;
}

.logo_img {
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  background-size: 80px 50px;
  display: inline-block;
  width: 80px;
  height: 50px;
}

.logo_flappy {
  text-transform: uppercase;
  color: teal;
} 

.logo_app {
  text-transform: uppercase;
  color: white;
}



.top_items ul {
  display: inline;
  text-transform: uppercase;
  color: #1ACAC8;
}

.top_items li {
  padding-right: 20px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 16px;
}

.top_items li:hover {
  color: white;
}

.feature_list {
  text-transform: uppercase;
  color: black;
/*  line-height: 40px;
  height: 40px;
*/  text-align: center;
  font-size: 16px
  ;
}

.feature_title {
  color: #1ACAC8;
  height: 48px;
  background-color: #25262C;
  line-height: 48px;
  vertical-align: middle;  
}

.feature_emphasize {
  color: white;
}

.feature_item {
  background-color: #1ACAC8;
  border-bottom: black solid 1px;
  line-height: 50px;
}

.content {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 24px;
  padding-top: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  line-height: 32px;
}

.bottom_footer {
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  background-position: top;

  text-transform: uppercase;
  padding-top: 30px;
}

.left_menu li, .center_menu li, .right_menu li {
  color: #1ACAC8;
  line-height: 30px;
}

.screenshot {
  display: block;
  /*background-color: red;*/
  /*background-repeat: no-repeat;*/
  background-repeat: repeat-x;
  background-image: url('/images/scenery.png');
  width: 100%;
  height: 266px;
  background-position: right;
  /*max-width: 734px;*/
}

div.left_menu {
  float: left;
  padding-left: 30px;
}

div.center_menu {
/*  width: 250px;
  margin: 0 auto; */

  float: left;
  position: relative;
  /*left: 33%;*/

  /*display: inline-block;*/
  /*display: float;*/
}

div.right_menu {
  float: right;
  padding-right: 30px;
}

.copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 14px;
}


@media screen and (max-width: 640px) {
  div.top_header {
    border-image: url('/images/border.png') 20 0 0 0 stretch stretch;

    /* put a line at the top*/
  }

  div.top_nav {
    height: 55px;
  }


  .logo {
    width: 300px;
    height: 50px;
    display: inline-block;
  }
  
  .logo_img {
    width: 80px;
    height: 50px;
    display: inline-block;
  }

  .logo_flappy {
    display: inline-block;
    width: 80px;
    height: 50px;
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    line-height: 50px;
    vertical-align: top;
    color: #1ACAC8;
    letter-spacing: 3px;
  }

  .logo_app {
/*    background-color: green;
*/    width: 50px;
    height: 50px;
    display: inline-block;
    font-size: 18px;
    padding-top: 0px;
    line-height: 50px;
    vertical-align: top;
    color: white;
    letter-spacing: 3px;
  }

  div.top_btn {
    float:right;
    font-size: 40px;
    color: #1ACAC8;
    padding-right: 20px;
  }

  .top_items {
    display: none;
  }

 
  .center_menu {
    display: none;
  }

}

@media screen and (min-width: 641px) and (max-width: 1000px) {
  body {
/*    background-color: red;
*/  }

  div.top_header {
    height: 50px;
    padding-top: 40px;
    padding-bottom: 45px;
  }

  div.logo {
    float:left;
  }

  div.logo_flappy {
    position: relative;
    left: 90px;
    top: -51px;
    letter-spacing: 3px;
    color: #39C1C1;
  }

  div.logo_app {
    position: relative;
    left: 90px;
    top: -49px;
    letter-spacing: 3px;
  }

  div.top_menu {
    float: right;
  }

  .top_items li {
    display: inline;
  }

  div.top_btn {
    display: none;
  }

}

@media screen and (min-width: 1001px) {

  div.top_header {
    height: 50px;
    padding-top: 40px;
    padding-bottom: 45px;

    max-width: 1200px;
    margin: 0 auto;

  }

  div.logo_img {
    width: 128px;
    height: 80px;
    display: inline-block;
    background-size: 128px 80px;
    position: relative;
    left: 250px;
    top: -10px;

    z-index: 1;
  }

  div.logo_flappy {
    font-size: 50px;
    color: #1ACAC8;
    position: relative;
    left: 50px;
    top: -75px;
    letter-spacing: 5px;
  }

  div.logo_app {
    font-size: 50px;
    color: #1ACAC8;
    position: relative;
    left: 350px;
    top: -125px;
    letter-spacing: 5px;
  }

  div.top_menu {
    float: right;
  }
  
  .top_items li {
    padding-bottom: 5px;
    border-bottom: 5px solid teal;
  }

  .top_items li:hover {
    padding-bottom: 5px;
    border-bottom: 5px solid white;    
  }

  div.attract_blurb {
    /*background-color: pink;*/
  }

  div.top_btn {
    display: none;
  }

  .top_items li {
    display: inline;
  }

  div.top_header {
    display: block;
  }

  .attract_blurb {
    background-color: white;
  }

  div.attract_blurb {
    /*height: 400px;*/
    padding: 25px;
  }

  .feature_list {
    min-width: 330px;
  }

  .screenshot {
    border: 5px solid black;
    width: 550px;
    /*min-width: 600px;*/
    float:left;
    position: relative;
    left: -150px;
    margin-right: -150px;
    /*width: auto;*/
/*    padding: 0;
    margin: 0;*/
    /*max-width: 738px;*/
    /*margin-right: 400px;*/
  }

  div.feature_list {
    float: right;
    width: 250px;
    box-sizing:border-box;
  }

  .content {
    /*padding-top: 275px;*/
/*    background-color: red;
*/  }

  .page_content {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
  }

  .bottom_footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  .left_menu li, .center_menu ul, .right_menu ul {
    border-left: 5px solid teal;
    padding-left: 15px;
  }

}

/* only for bigger screens*/ 
@media screen and (min-width: 641px) {
  .left_menu li:hover, .center_menu li:hover, .right_menu li:hover {
  color: #fff;
  /*line-height: 30px;*/
  }

  div.left_menu {
    width: 28%;
  }

  div.center_menu {
    width: 34%;
  }

  div.right_menu {
    width: 28%;
  }
}